Header_CursoBasico.png

# Tuples

### Lo Básico

- Las tuplas son muy similares a las listas. Las listas están encerradas en "[ ]" y tuplas entre paréntesis "( )".

In [1]:
x = (2.7, 'Hola Mundo', -3)
x

(2.7, 'Hola Mundo', -3)

In [2]:
len(x)  # Longitud de la tupla

3

In [3]:
type(x)

tuple

In [6]:
y = (3.4, "Hola", 4, (-7, 'Mundo'))  # Tupla anidada
y

(3.4, 'Hola', 4, (-7, 'Mundo'))

In [7]:
len(y)

4

In [8]:
(-1, 2) + (2, 3.4)  # Concatenacion

(-1, 2, 2, 3.4)

In [9]:
(-1, 2) * 3  # Repeticion

(-1, 2, -1, 2, -1, 2)

- La indexación y el corte de tuplas son similares a las cadenas y listas.

In [10]:
y

(3.4, 'Hola', 4, (-7, 'Mundo'))

In [11]:
y[1]  # Indexado

'Hola'

In [12]:
y[3]

(-7, 'Mundo')

In [15]:
y[3][0]  # Indexación anidada

-7

In [17]:
y[1:3]  # Slicing - Cortando en rebanadas

('Hola', 4)

In [28]:
y[-1]

(-7, 'Mundo')

In [29]:
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
days

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [32]:
days[4 - 1]  # Convierta un día int en la abreviatura de tres letras

'Thu'

In [33]:
for d in days:
    print(d)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [34]:
for i, d in enumerate(days):  # Enumerate devuelve tanto el índice como el valor de cada elemento
    print('Day', i+1, 'is', d)

Day 1 is Mon
Day 2 is Tue
Day 3 is Wed
Day 4 is Thu
Day 5 is Fri
Day 6 is Sat
Day 7 is Sun

In [35]:
days

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [36]:
'Mon' in days  # Si un elemento dado está contenido en una tupla

True

In [38]:
'mon' in days

False

In [39]:
5 in (2, 4, 6, 8)

False

In [41]:
type(days)

tuple

In [46]:
z = ("cheese", ("red", "rojo"), [3, 5])  # Los símbolos más externos son paréntesis
z

('cheese', ('red', 'rojo'), [3, 5])

In [47]:
type(z)

tuple

In [58]:
z = ("cheese", ("red", "rojo"), [3, 5], 3.45, '2')  # Los símbolos más externos son llaves
z

('cheese', ('red', 'rojo'), [3, 5], 3.45, '2')

In [59]:
type(z)

tuple

In [60]:
type(z[4])

str

- Es posible quitar los paréntesis al crear una tupla, y solo usar una secuencia de valores separados por comas:

In [68]:
x = 1, 3, 5
x

(1, 3, 5)

In [70]:
type(x)

tuple

- Incluya una coma al crear una tupla con solo un elemento:

In [71]:
x = 2,
x

(2,)

In [72]:
x = (2,)
x

(2,)

In [76]:
len(x)

1

In [78]:
x = 2  # No es una tupla
type(x)

int

In [79]:
x = (2)
x

2

In [80]:
type(x)

int

In [33]:
x = ()  # Tupla vacía
x

()

In [34]:
type(x)

tuple

In [81]:
x = ( ,)  # Esto está mal

SyntaxError: invalid syntax (1942147733.py, line 1)

###  Las tuplas son inmutables

In [83]:
y = (2, 3)
y

(2, 3)

In [84]:
y[0] = 1  # Esto tampoco se puede hacer

TypeError: 'tuple' object does not support item assignment

- Python usa tuplas para asignación simultánea y desempaquetar múltiples retornos de funciones.

In [85]:
x, y = 1, 2
x, y

(1, 2)

In [90]:
a = (1, 2)
x, y = a

In [89]:
print(x, y)

2 1

In [94]:
mm, dd, yyyy = '05/20/2019'.split('/')  # mm/dd/yyyy
mm, dd, yyyy

('05', '20', '2019')

In [95]:
type('05/20/2019'.split('/'))

list

In [96]:
questions = ('One', 'Two', 'Three')
points = ('10', '15', '20')
for q, p in zip(questions, points):
    print('Question', q, 'is worth', p, 'points.')

Question One is worth 10 points.
Question Two is worth 15 points.
Question Three is worth 20 points.